<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon" class="favicon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Website About Us Page HTML CSS</title>
    <link rel="stylesheet" href="css/notify.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  </head>
  <body>
    <section class="about-us">
      <div class="about">
        <img src="../assets/img/logo_v.png" class="pic" />
        <div class="text">
          <h2>soporte y contacto</h2>
          <h5>Front-end Developer & <span>Designer</span></h5>
          <p>Reciba un cordial saludo. Nuestro equipo se encuentra dedicado a mejorar su experiencia. Si desea ponerse en contacto con nosotros, le ofrecemos varias opciones que se encuentran a continuación.
          </p>
          <br><div class="contenedor-padre">
            <div class="data">
              <a href="/" class="hire">Home</a>
            </div>
            <footer class="wrapper">
              <div class="icons facebook">
                  <div class="tooltip">
                      facebook
                  </div>
                  <a href="https://www.facebook.com/profile.php?id=61554798292422">
                    <span><i class="fab fa-facebook"></i></span>
                  </a>


                
              </div>
              <div class="icons twitter">
                  <div class="tooltip">
                      Twitter
                  </div>
                  <a href="https://twitter.com/SP_Corp98">
                  <span> <i class="fab fa-twitter"></i></span>
                  </a>
                </div>
              <div class="icons youtube">
                  <div class="tooltip">
                      Whatsapp
                  </div>
                  <a href="https://api.whatsapp.com/send?phone=948487984&text=Apreciamos%20tu%20inter%C3%A9s%20en%20Smart%20Parking.%20Nuestro%20equipo%20revisar%C3%A1%20tu%20mensaje%20y%20te%20responder%C3%A1%20pronto.%20%C2%A1Gracias%20por%20elegir%20Smart%20Parking!%20%20Saludos,%20El%20Equipo%20de%20Smart%20Parking">
                  <span> <i class="fab fa-whatsapp"></i></span>
                  </a>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
